/*
 * ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── I ──────────
 *   :::::: E S C R I T O R I O   -   X L   R E V I S A M O S   E N   1 3 6 6 P X   E N   A D E L A N T E : :  :   :    :     :        :          :
 * ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 */

* {
  font-family: "Open Sans", sans-serif;
  /* font-family: 'Chewy', cursive; */
}

ul,
ol {
  list-style: none;
}

a:visited,
a:link,
a:focus,
a:hover,
a:active {
  list-style: none;
  text-decoration: none;
}

/*
 * ──────────────────────────────────────────────────── II ──────────
 *   :::::: H E A D E R : :  :   :    :     :        :          :
 * ──────────────────────────────────────────────────────────────
 */

header {
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.logotipo {
  width: 45%;
}

.redes ul li i {
    width: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}

.redes ul li i.fa-facebook-f {
    background: #1475E0;
}

.redes ul li i.fa-instagram {
    background: #B18768;
}

.redes ul li i.fa-twitter {
    background: #00A6FF;
}

.redes ul li i.fa-youtube {
    background: #F95F62;
}

.redes ul li i.fa-snapchat-ghost {
    background: #FF9052;
}

.fa-bars {
  font-size: 35px;
}

.fa-search, .fa-bars {
  color: white;
}

.redesMovil {
    position: fixed;
    bottom: -10px;
    left: 50%;
    z-index: 10;
    transform: translate(-50%);
}
/*
 * ──────────────────────────────────────────────────── II ──────────
 *   :::::: B A N N E R : :  :   :    :     :        :          :
 * ──────────────────────────────────────────────────────────────
 */
.fade-slider {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.bannerEstatico {
  background: rgba(0,0,0,0);
}

.textoBanner {
    position: absolute;
    width: 50%;
    text-align: center;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.textoBanner h1{
    font-family: 'Chewy', cursive;
    font-size: 60px;
}

.textoBanner h5{
    line-height: 30px;
    font-weight: 100;
    font-size: 18px;
}

/*=====================================
MENU
=====================================*/
.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    overflow-x: hidden;
    font-weight: 300;
    display: none;
    font-size: 34px;
    line-height: 70px;
}

.btnClose {
    position: absolute;
    top: 100px;
    right: 25%;
    color: white;
}

.menu .nav {
    margin-top: 10%;
}

/*=====================================
GRID CATEGORIAS
=====================================*/
.grid figure {
    position: relative;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 8px solid white;
    border-right: 8px solid white;
    cursor: pointer;
    transition: 1s all;
}

.grid .columna1 {
    width: 40%;
}

.grid .photo1,
.grid .photo2,
.grid .photo3,
.grid .photo4,
.grid .photo5,
.grid .photo6 {
    background-size: cover !important;
    background-position: left;
}

.grid .photo1,
.grid .photo5 {
    height: 400px;
}

.grid .photo2,
.grid .photo3,
.grid .photo4 {
    height: 300px;
}

.grid .photo1 {
    background: url(../img/suramerica.jpg);
}

.grid .photo2 {
    background: url(../img/africa.jpg);
}

.grid .photo3 {
    background: url(../img/centroamerica.jpg);
}

.grid .photo4 {
    background: url(../img/europa.jpg);
}

.grid .photo5 {
    background: url(../img/norteamerica.jpg);
}

.grid .photo6 {
    background: url(../img/asia.jpg);
}

.grid figure p {
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 100%;
    background: rgba(0,0,0,.7);
    color: white;
    font-weight: 100;
    font-size: 20px;
}

.grid figure p:hover {
    background: rgba(255,57,190,.7);
}

/*=====================================
GRIDFOOTER CATEGORIAS
=====================================*/
footer {
  background: black;
}

.gridFooter figure {
    position: relative;
    border: 4px solid white;
    cursor: pointer;
    transition: 1s all;
}

.gridFooter .columna1 {
    width: 40%;
}

.gridFooter .photo1,
.gridFooter .photo2,
.gridFooter .photo3,
.gridFooter .photo4,
.gridFooter .photo5 {
    background-size: cover !important;
    background-position: left;
}

.gridFooter .photo1,
.gridFooter .photo5 {
    height: 200px;
}

.gridFooter .photo2,
.gridFooter .photo3,
.gridFooter .photo4 {
    height: 100px;
}

.gridFooter .photo1 {
    background: url(../img/suramerica.jpg);
}

.gridFooter .photo2 {
    background: url(../img/africa.jpg);
}

.gridFooter .photo3 {
    background: url(../img/centroamerica.jpg);
}

.gridFooter .photo4 {
    background: url(../img/europa.jpg);
}

.gridFooter .photo5 {
    background: url(../img/norteamerica.jpg);
}

.gridFooter figure p {
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 100%;
    background: rgba(0,0,0,.7);
    color: white;
    font-weight: 100;
    font-size: 15px;
}

.gridFooter figure p:hover {
    background: rgba(255,57,190,.7);
}

/*=====================================
CONTENIDO
=====================================*/

.contenidoInicio {
    /*transform: translate(0%, -2%);*/
}

.introArticulo {
    position: relative;
}

.fecha {
    position: absolute;
    right: 10px;
    top: 0;
    padding: 5px 10px;
    color: #AAA;
    font-size: 14px;
    background: url(../img/globo.jpg);
    background-size: cover;
    background-position: center top;
    height: 40px;
}

.page-item.active .page-link {
    background: #FF39BE;
    color: white;
    border: 1px solid #BBB;
}

.page-link {
    color: #777;
}

.page-link:hover {
    color: #FF39BE;
}

/*=====================================
SCROLL UP
=====================================*/
 #scrollUp {
     bottom: 20px;
     right: 20px;
     width: 50px;
     height: 50px;
     background: url(../img/flecha.jpg);
 }

/*=====================================
PRELOAD
=====================================*/

#preload {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #333;
}

#porcentajeCarga {
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    top: 52%;
    font-size: 20px;
    font-weight: 100;
}

#lineaCarga {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0%;
    background: #666;

}

#rellenoCarga {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: #fff;
}

#estadoCarga {
    position: absolute;
    background: url(../img/loader.gif) center center;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 250px;
}




/*
 * ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── I ──────────
 *   :::::: T A B L E T   H O R I Z O N T A L   -   L G   R E V I S A M O S   E N   1 0 2 4 P X : :  :   :    :     :        :          :
 * ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 */

@media (max-width: 1199px) and (min-width: 992px) {

    .menu .nav {
        margin-top: 15%;
    }

    .textoBanner h1{
        font-size: 40px;
    }

    .textoBanner h5{
        font-size: 17px;
    }

}

/*
 * ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── I ──────────
 *   :::::: T A B L E T   V E R T I C A L   -   M D   R E V I S A M O S   E N   7 6 8 P X : :  :   :    :     :        :          :
 * ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 */

@media (max-width: 991px) and (min-width: 768px) {

    header .logotipo {
    width: 55%;
    }

    .menu .nav {
        margin-top: 20% !important;
    }

    .textoBanner h1{
        margin-top: 40px;
        font-size: 30px;
    }

    .textoBanner h5{
        font-size: 16px;
    }

    .btnClose {
        right: 15% !important;
        top: 70px !important;
    }

    .grid figure p {
        font-size: 18px;
    }

    .grid .photo1,
    .grid .photo5 {
        height: 300px;
    }

    .grid .photo2,
    .grid .photo3,
    .grid .photo4 {
        height: 200px;
    }

    .fecha {
        top: -340px;
    }

  .gridFooter figure {
    border: 2px solid white;
  }

    .gridFooter figure p{
        font-size: 12px;
    }
}

/*
 * ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── I ──────────
 *   :::::: M O V I L   H O R I Z O N T A L   -   S M   R E V I S A M O S   E N   5 7 6 P X : :  :   :    :     :        :          :
 * ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 */
@media (max-width: 767px) and (min-width: 576px) {

    header .logotipo {
    width: 65%;
    }

    .fade-slider {
    height: 72px;
    }

    .menu .nav {
        margin-top: 25%;
    }

    .btnClose {
        left: 15% !important;
        top: 50px !important;
    }

    .grid .columna1 {
        width: 50%;
    }

    .grid .photo1,
    .grid .photo2,
    .grid .photo3,
    .grid .photo4,
    .grid .photo5,
    .grid .photo6 {
        height: 200px;
    }

    .grid figure p {
        font-size: 16px;
    }

    .fecha {
        top: -378px;
    }

}

/*
 * ────────────────────────────────────────────────────────────────────────────────────────────────────────────── I ──────────
 *   :::::: M O V I L   V E R T I C A L   -   R E V I S A M O S   E N   3 2 0 P X : :  :   :    :     :        :          :
 * ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 */
@media (max-width: 575px) {

    header .logotipo {
    width: 100%;
    }

    .fade-slider {
    height: 54px;
    }

    .menu .nav {
        margin-top: 25%;
        font-size: 20px;
        line-height: 40px;
    }

    .btnClose {
        left: 10% !important;
        top: 20px !important;
    }

    .grid .columna1 {
        width: 50%;
    }

    .grid .photo1,
    .grid .photo2,
    .grid .photo3,
    .grid .photo4,
    .grid .photo5,
    .grid .photo6 {
        height: 120px;
    }

    .grid figure p {
        font-size: 14px;
    }

    .fecha {
        top: -227px;
        font-size: 12px;
        height: 35px;
    }

}
